.home-img{
    height: 50px;
    width: 50px;
}

.search-but-1{
    position: relative;
    right: 510px;
    width: 380px !important;
}
.search-but-2{
    position: relative;
    right: 510px;
    /* width: 380px !important; */
}
.user{
    height: 35px;
    width: 35px;
}

.user-main-contents{
    position: absolute;
    top: 0;
    left: -200px; /* Initially hide sidebar off the screen */
    width: 200px;
    height: 100%;
    background-color: #f4f4f4;
    padding: 20px;
    transition: left 0.3s ease;
}

.user-main-contents{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    }

.user-main-contents a{
    background-color: #ddd;
}

.side-heading{
    /* border: 2px solid red; */
    border-radius: 10px;
    width: 300px;
    box-shadow: 0px 0px 5px 0px #333 ;
    padding: 4px 15px;
}

.body{
    display: flex;
    flex-direction: column;
    list-style: none;
}

.body-1{
    display: flex;
    flex-direction: row;
}

.body-box{
    padding: 5px;
    border: 2px solid red;
}

.body-box a{
text-decoration: none;
color: black;
}
.body-1 li{
    margin-left: 10px;
}

