.home-img {
  height: 50px;
  width: 50px;
}

.search-but-1 {
  position: relative;
  right: 510px;
  width: 380px !important;
}
.search-but-2 {
  position: relative;
  right: 510px;
  /* width: 380px !important; */
}
.user {
  height: 35px;
  width: 35px;
}

.user-main-contents {
  position: absolute;
  top: 0;
  left: -200px; /* Initially hide sidebar off the screen */
  width: 200px;
  height: 100%;
  background-color: #f4f4f4;
  padding: 20px;
  transition: left 0.3s ease;
}

.user-main-contents {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

.user-main-contents a {
  background-color: #ddd;
}

.side-heading {
  /* border: 2px solid red; */
  border-radius: 10px;
  width: 300px;
  box-shadow: 0px 0px 5px 0px #333;
  padding: 4px 15px;
}

.body {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.body-1 {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  padding: 8px 10px;
  background-color: antiquewhite;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
}


.body-box li {
  display: inline-block;
  margin-left: 10px;
}

.body-box {
  position: relative;
  padding: 5px;
  border-radius: 13px;
  margin: 5px 0px;
  width: 300px;

}

/* .body-box :hover {
  background-color: #333;
  color: yellow;
} */

.body-box a {
  text-decoration: none;
  color: black;
  font-size: 600 !important;
}

.sideHr {
  width: 300px;
  margin-left: 30px;
}

.car-img1,.car-img2,.car-img3{
  height: 500px;
  width: 100%;
}

.containerr{
  width: 100%;
}

.footer-chat-img img{
  border: 2px solid greenyellow;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 70px;
  width: 70px;
  border-radius: 50%;
  right: 10px;
  bottom: 10px;
  position: absolute;
}
.footer-chat-img{
  display: flex;
  /* position: absolute; */
  flex-direction: row-reverse;
}

.middle-left{
  border: 2px solid red;
  border-radius: 10px;
  padding: 20px;
  width: 50%;
  margin:15px 15px;
  /* height: 100px; */
}

.ayur-p{
  text-decoration: none;
  /* color: black; */
}

.middle-sub-cont{
  display: flex;
  flex-direction: row;
}

.middle-sub-cont img{
  position: relative;
border-radius: 10px;
bottom: 15px;
}

.middle-cont{
  display: flex;
  flex-direction: row;
}

.middle-right{
  overflow: scroll;
  height: 300px !important;
  width: 550px;
  margin: 10px 20px;
}

.list--a{
display: flex !important;
flex-direction: row;
height: 130px;
}

.list-img{
  height: 110px;
  width: 235px;
}


 