.__container{
    /* border : 2px solid red !important; */
    width: 1045px;
    height: 700px;
    position: relative;
    left: 420px;
    top: 50px;
    border-radius: 13px;
    box-shadow: 0px 1px 8px -4px #333;
}
.home-img {
  height: 50px;
  width: 50px;
}

.mainProfile{
  display: flex;
  flex-direction: row;
}
.mainnava1{
  background-color: #EEE7DA !important;
}
.search-but-1 {
  position: relative;
  right: 510px;
  width: 380px !important;
}
.search-but-2 {
  position: relative;
  right: 510px;
  border-radius: 18px !important;
  background-color: #F5F0BB !important;
  box-shadow: 0px 1px 8px -4px #333;
  /* width: 380px !important; */
}
.body-1 {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  padding: 8px 10px;
  background-color: antiquewhite;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
}
.body-box li {
  display: inline-block;
  margin-left: 10px;
}

.body-box {
  position: relative;
  padding: 5px;
  border-radius: 13px;
  margin: 5px 0px;
  width: 300px;

}
.sideHr {
  width: 300px;
  margin-left: 30px;
}

.body-box a {
  text-decoration: none;
  color: black;
  font-size: 600 !important;
}

.side-heading {
  /* border: 2px solid red; */
  border-radius: 10px;
  width: 300px;
  box-shadow: 0px 0px 5px 0px #333;
  padding: 4px 15px;
}
.user {
  height: 35px;
  width: 35px;
}

.user-main-contents {
  position: absolute;
  top: 0;
  left: -200px; /* Initially hide sidebar off the screen */
  width: 200px;
  height: 100%;
  background-color: #f4f4f4;
  padding: 20px;
  transition: left 0.3s ease;
}

.user-main-contents {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

.user-main-contents a {
  background-color: #ddd;
}
.body {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.body a{
  text-decoration: none;
  color: black;
}